@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

.button {
    border: 1px solid #4282AA;
    background-color: #fff;
    color: #4282AA;
    padding: 10px 20px;
    text-decoration: none; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #4282AA;
    color: white;
}

/* Navigation */

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0.7vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    background-color: white;
}
  
nav img {
    width: 170px;
    height: auto;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

nav .navigation ul li a {
    display:block;
    text-decoration: none;
    color: #193046;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: #4282AA;
}

.hamburger-menu {
    display: none; 
    font-size: 24px;
    cursor: pointer;
}

/* End Navigation */

/* Carousel */

.carousel-inner img {
    width: 100%;
    height: 46vw;
    filter: brightness(0.8);
}

.carousel-container {
    position: absolute;
    bottom: 35%;
    left: 12%;
}

.carousel-container h2 {
    font-size: 4.3vw;
    font-weight:600;
    color: white;
}

.carousel-inner p {
    font-size:1.5vw;
    font-weight:400;
    color: white;
}


/* End Carousel */


/* About Us */

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 20px;
}

.about-col img {
    width: 100% !important;
}

.about-col p {
    padding: 5% 0 25px;
}

/* End About Us */


/* Services */

/* I referred to https://www.youtube.com/watch?v=2ipVafDw2ss when writing the CSS code of the service section */
.service {
    background-color: rgb(243, 243, 243);
}

.service h1 {
    text-align: center;
    padding-top: 5%;
}

.service-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 20% 7%;
    padding: 5%;
}

.service-container .service-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;    
    height: 300px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.service-container .service-card:hover {
    height: 400px;
}

.service-container .service-card .imgbx {
    position:absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.service-container .service-card:hover .imgbx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.service-container .service-card .imgbx img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-container .service-card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 23px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.service-container .service-card:hover .content{
    top: 150px;
    height: 250px;
}

.service-container .service-card .content h2{
    font-size: 1.2em;
    font-weight: 700;
}

/* End Services */


/* Insights */

/* I referred to https://www.youtube.com/watch?v=Rkc_5V6IL6c when designing the insights section */

.insight h1 {
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}

.insight-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.insight-container .insight-card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 250px;
    border-radius: 10px;
    background: white;
    margin: 10px;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s all ease-in-out;
}

.insight-container .insight-card .insight-content {
    text-align: center;
}

.insight-container .insight-card .insight-content i {
    color: #193046;
    font-size: 52px;
    padding: 15px;
}

.insight-container .insight-card .insight-content h2 {
    font-size: 26px;
    color: #193046;
    font-weight: 600;
    padding: 10px;
}

.insight-container .insight-card:hover {
    background: #4282AA;
    box-shadow: none;
}

.insight-container .insight-card:hover .insight-content i,
.insight-container .insight-card:hover .insight-content h2 {
    color: white;
    transition: 0.3s all ease-in-out;
}

/* End Insights */


/* Experience */

.experience {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.experience-col {
    flex-basis: 48%;
    padding: 30px 20px;
}

.experience-col img {
    width: 100% !important;
}

.experience-col h1 {
    padding-top: 3%;
}

.experience-col p {
    padding: 5% 0 25px;
}

/* End Experience */


/* Footer */

/* I referred to https://www.youtube.com/watch?v=YOb67OKw62s when designing the footer. */

.footer-container {
    max-width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style:none;
}

footer{
    background-color: #193046;
    padding: 50px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size:18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col ul {
    padding-left: 0; 
}

.footer-col ul li {
    margin-left: 0;
}

.footer-col h4::before {
    content: '';
    position:absolute;
    left: 0%;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
}

.row img {
    width: 100px;
}

.copyright{
    padding-top: 30px;
    color: white;
}

/* End Footer */


/* Responsive */

@media only screen and (max-width: 1024px) {
    nav .hamburger-menu {
        display: block;
    }

    nav .navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        z-index: 999;
    }

    nav .navigation.show {
        display: flex; 
    }

    nav .navigation ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav .navigation ul li {
        margin: 10px 0;
    }

    nav .navigation.show {
        top: 60px; 
    }
}

@media only screen and (max-width: 768px) {
    
    /* Navigation */
    nav .hamburger-menu {
        display: block;
    }

    nav .navigation {
        top: 50px;
    }

    /* About */
    .about-col {
        flex-basis: 100%; 
        text-align: left; 
    }

    /* Experience */
    .experience-col {
        flex-basis: 100%;
        text-align: left;
    }

    /* Services */
    .service h1 {
        padding-top: 20%;
    }

    .service-container {
        gap: 90px;
        padding: 20% 0;
    }

    /* Insights */
    .insight-container .insight-card {
        width: 80%; 
    }

    /* Footer */
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}